.chart-container {
  width: 100%;
  height: auto;
  max-height: 400px; // You can adjust the max-height as needed

  canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
  }
}