:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.chart-container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
}