@import '../../styles.scss'; // Importe les variables globales

.home-container {
  padding: 30px 20px;

  h1 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
  }

  .kpis {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;

    .kpi {
      background: white;
      padding: 15px 25px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.1rem;
      font-weight: 600;
      color: $secondary-color;
    }
  }

  // Style pour le conteneur du graphique
  app-olympic-medals-pie-chart {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
