/* Importation de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Application globale de la police */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Vous pouvez aussi définir des variables CSS pour vos couleurs */
:root {
  --color-violet: #8B4789;
  --color-blue-grey: #7BA3C7;
  --color-mauve-rose: #A27B94;
  --color-blue-light: #8BAFB8;
  --color-beige-grey: #B8A8A0;
}